# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/app/dist
release/build
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts


src/renderer/node_modules
src/renderer/.env.local
src/renderer/.umirc.local.ts
src/renderer/config/config.local.ts
src/renderer/src/.umi
src/renderer/src/.umi-production
src/renderer/.umi
src/renderer/.umi-production
src/renderer/.umi-test
src/renderer/dist
src/renderer/.mfsu
